@page
@model  ASP.NET_Core_Check.Models.MovieViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie</title>
    <h1>name = @Model?.Name</h1>

    <h1>year = @Model?.Year</h1>
</head>
<body>
</body>
</html>
